@import '../../index.scss';

.Categoria {
	padding: $MargenMediano 0px;
	font-size: 14px;
	color: $GrisMedio;
}

ul.Categoria {
	padding: 0px;
	margin: 0px;
}

ul.Categoria li {
	list-style-type: none;
	display: inline-block;
}

ul.Categoria li div {
	display: inline-block;
}

ul.Categoria li div.Separador {
	padding: 0px $MargenChico;
}