@import 'bootstrap/dist/css/bootstrap.min.css';

$GrisClaro: #EEEEEE;
$GrisMedio: #999999;
$GrisOscuro: #666666;
$Negro: #333333;
$Amarillo: #FFE600;
$Blanco: #FFFFFF;
$MargenChico: 6px;
$MargenMediano: 16px;
$MargenGrande: 32px;
$Radio: 4px;

html {
	background-color: $GrisClaro;
}

body {
	margin: 0px 0px 100px 0px;
	padding: 0px;
	font-size: 16px;
	background-color: $GrisClaro !important;
	font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.row {
	margin: auto;
}